.heading {
    text-align: center;
    color: lightseagreen;
    font-size: 50px;
}

.container {
    margin: 0px 100px;
}

.w-message {
    font-size: 30px;
    color: seagreen;
}

.b-attend {
    transition-duration: 1s;
    background-color: mediumseagreen;
    color: mintcream;
    font-size: 30px;
}

.b-attend:hover {
    transition-duration: 1s;
    background-color: darkturquoise;
    transition-duration: 2s;
}

.e-message {
    font-size: 20px;
    color: orangered;
}

.b-submit {
    transition-duration: 1s;
    background-color: mediumseagreen;
    color: mintcream;
    font-size: 20px;
}

.a-submit {
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 4px;
    transition-duration: 1s;
    background-color: mediumseagreen;
    color: mintcream;
    font-size: 20px;
}